$primary_color: #2AA64C;
$secondary_color: #02567a;

//fonts
$Poppins-Regular: Poppins-Regular;
$Poppins-SemiBold: Poppins-SemiBold;
$Poppins-Bold: Poppins-Bold;
$OpenSans-Regular: OpenSans-Regular;
$OpenSans-SemiBold: OpenSans-SemiBold;
$OpenSans-Bold: OpenSans-Bold;
